<ion-view title="Android OS" id="page2">
  <ion-content padding="false" class="has-header">
    <h5 id="androidOS-heading1" style="color:#000000;text-align:center;">Android 9.0 Pie Official INTRODUCTION!!!</h5>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/wUMVuh5sZFY?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="androidOS-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="androidOS-list2">
      <ion-item class="item-avatar item-icon-right" id="androidOS-list-item5">
        <img src="img/AAuE7mAWwL3OwIZVcbwiUHKdTrsaE8BNPvp6Ez11Zws48-mo-c-c0xffffffff-rj-k-no">
        <h2> Science and Knowledge</h2>
        <p>Published on Aug 12, 2018</p>
        <i class="icon ion-ios-videocam"></i>
      </ion-item>
    </ion-list>
    <div id="androidOS-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Introducing the official video introduction of new Android 9 Pie (P): Works on AI for a smarter, easier experience that adapts to </p>
    </div>
    <div class="spacer" style="width: 320px; height: 91px;"></div>
    <a ui-sref="bIMBETA()" id="androidOS-button2" style="border-radius:55px 55px 55px 55px;" class="button button-positive button-block icon ion-android-home"></a>
  </ion-content>
</ion-view>