<ion-view title="BIM BETA" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/Gt3khhroQtueQ99TGdpe_gg.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="bIMBETA-list1">
      <ion-item class="item-icon-left item-icon-right" id="bIMBETA-list-item4">
        <i class="icon ion-drag"></i>Ameerul Operating Systems
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right dark" id="bIMBETA-list-item1" ui-sref="iOS()">
        <img src="img/2000px-Apple_logo_black.svg.png">
        <h2dark>IOS
          <p style="white-space:normal;">ios is a mobile operating system developed by ameerul iman.</p>
          <i class="icon ion-chatbubble-working"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="bIMBETA-list-item2" ui-sref="androidOS()">
        <img src="img/872px-Android_robot.svg.png">
        <h2balanced>Android OS
          <p style="white-space:normal;">Android is a mobile operating system developed by ameerul iman also.</p>
          <i class="icon ion-chatbubble-working"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right royal" id="bIMBETA-list-item3" ui-sref="firdApp()">
        <img src="img/eJggl6PsSjuqaC4BBSg5_wwwwww.png">
        <h2royal>Fird App
          <p style="white-space:normal;">Owned by me</p>
          <i class="icon ion-chatbubble-working"></i>
        </h2royal>
      </ion-item>
    </ion-list>
    <a ui-sref="aboutUs()" id="bIMBETA-button1" style="border-radius:25px 25px 25px 25px;" class="button button-calm button-block">About Us</a>
  </ion-content>
</ion-view>